body {
    font-family:Helvetica, "Helvetica-Light", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, "Lucida Grande", Cambria, Georgia,"Times New Roman", Times, serif;
    color=#A9A9A9;
}

a {
    text-decoration:None;
}

h1 {
    font-size: 20px;
    margin-bottom: 2px;
}
h2 {
    font-size: 16px;
    margin-bottom: 4px;
}

p.pubs {
    font-size:14px;
}

#header-frame {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#header-frame p{
    margin-top:8px;
    margin-bottom:8px;
}

#main-frame {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
